@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #3d3d3d;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 20px;
}

main {
  width: 755px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

/* start row 1 */

.row-1 {
  display: flex;
  gap: 20px;
}

.left-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-article blockquote {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}

section p:last-child {
  margin-bottom: 0;
}

section article {
  flex: 1;
}

article > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

article > div img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

article > div h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

article > div p {
  font-size: 12px;
}

.right-article {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* end row 1 */

/* start row 2 */
.row-2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.row-2 img {
  border-radius: 20px;
}
.row-2 article {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.star {
  color: #ffcc00;
  font-size: 25px;
}
.row-2 h2 {
  font-size: 24px;
}
.role-label {
  font-size: 14px;
  color: #5a5a5a;
  margin-bottom: 0;
}
/* end row 2 */

/* start row 3 */
.row-3 {
  border: 1px solid #000000;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.row-3 > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.row-3 img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.row-3 img:nth-child(odd) {
  width: 70px;
  height: 70px;
  opacity: 0.4;
}
.row-3 button {
  border: none;
  background: transparent;
  font-size: 24px;
}
/* end row 3 */
